<div class=text-center>
 <div class="font-weight-bold">
   <h2>About</h2>
  </div>
  
  <P>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
  <P>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
  <P>様々なバリエーションをご用意しております。</p>
  <P>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
  <P>ぜひご注文ください。</p>
  
  <%= image_tag "cupcakes-1283821_1920.jpg", class: "image_about" %>
</div>